[submodule "src/pyGPOAbuse"]
	path = src/pyGPOAbuse
	url = https://github.com/Hackndo/pyGPOAbuse
[submodule "src/GPOwned"]
	path = src/GPOwned
	url = https://github.com/X-C3LL/GPOwned.git
[submodule "src/krbrelayx"]
	path = src/krbrelayx
	url = https://github.com/dirkjanm/krbrelayx.git
[submodule "src/noPac"]
	path = src/noPac
	url = https://github.com/Ridter/noPac
[submodule "src/wmiexec-Pro"]
	path = src/wmiexec-Pro
	url = https://github.com/XiaoliChan/wmiexec-Pro
[submodule "src/windapsearch"]
	path = src/windapsearch
	url = https://github.com/ropnop/windapsearch
[submodule "src/PetitPotam"]
	path = src/PetitPotam
	url = https://github.com/topotam/PetitPotam/
[submodule "src/ntlm_theft"]
	path = src/ntlm_theft
	url = https://github.com/Greenwolf/ntlm_theft.git
[submodule "src/Dementor"]
	path = src/Dementor
	url = https://github.com/NotMedic/NetNTLMtoSilverTicket.git
[submodule "src/LdapRelayScan"]
	path = src/LdapRelayScan
	url = https://github.com/zyn3rgy/LdapRelayScan
[submodule "src/targetedKerberoast"]
	path = src/targetedKerberoast
	url = https://github.com/ShutdownRepo/targetedKerberoast
[submodule "src/PKINITtools"]
	path = src/PKINITtools
	url = https://github.com/dirkjanm/PKINITtools
[submodule "src/PassTheCert"]
	path = src/PassTheCert
	url = https://github.com/AlmondOffSec/PassTheCert
[submodule "src/owa-emailextract"]
	path = src/owa-emailextract
	url = https://github.com/manesec/global-address-list-owa
[submodule "src/ntlmscan"]
	path = src/ntlmscan
	url = https://github.com/nyxgeek/ntlmscan.git
[submodule "src/proxyshell"]
	path = src/proxyshell
	url = https://github.com/mr-r3bot/Proxyshell-Exchange
[submodule "src/tools4mane"]
	path = src/tools4mane
	url = https://github.com/manesec/tools4mane
[submodule "src/forest-trust-tools"]
	path = src/forest-trust-tools
	url = https://github.com/dirkjanm/forest-trust-tools
[submodule "src/LAPSDumper"]
	path = src/LAPSDumper
	url = https://github.com/n00py/LAPSDumper.git
[submodule "src/DFSCoerce"]
	path = src/DFSCoerce
	url = https://github.com/Wh04m1001/DFSCoerce.git
[submodule "src/KeyTabExtract"]
	path = src/KeyTabExtract
	url = https://github.com/sosdave/KeyTabExtract.git
