recursive-include src/pyGPOAbuse *
recursive-include src/GPOwned *
recursive-include src/krbrelayx *
recursive-include src/noPac *
recursive-include src/wmiexec-Pro *
recursive-include src/windapsearch *
recursive-include src/PetitPotam *.py
recursive-include src/ntlm_theft *
recursive-include src/Dementor dementor.py
recursive-include src/LdapRelayScan *
recursive-include src/targetedKerberoast *.py
recursive-include src/PKINITtools *
recursive-include src/PassTheCert/Python *.py
recursive-include src/owa-emailextract *
recursive-include src/ntlmscan *
recursive-include src/proxyshell *
recursive-include src/tools4mane *.py
recursive-include src/forest-trust-tools *
recursive-include src/LAPSDumper *
recursive-include src/DFSCoerce *
